
@{
    ViewData["Title"] = "ASP.NET Core 2.2 Web API";
}

<h3>@ViewData["Title"]</h3>


<p>The ASP.NET Core 2.2 Web API is up and running and ready for receiving HTTPS requests</p>

<p>A List of Posts ( CRUD ) was added for learning</p>

<p>Last Updated: 16-06-2023</p>

<p>
    The consuming part of the Web API is done by an Angular and a React client
</p>

<link rel="shortcut icon" href="favicon.ico">
